<div class="container">
    <div class="row">
        <div class="col-sm-8 border bordered p-4">
            <form action="" class="container">
                <legend class="mb-4"><strong>New employe</strong></legend>
                <div class="row">
                    <div class="col-sm-6">
                         <label class="w-100">
                            first name :
                            <input  class="form-control" type="text" placeholder="First name" ng-model="newEmploye.first_name">
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="w-100">
                            last name :
                            <input class="form-control" type="text" placeholder="Last name" ng-model="newEmploye.last_name">
                        </label>
                    </div>
                </div>
                <div class="row">
                   <div class="col-sm-12">
                        <label  class="w-100">
                            email :
                            <input class="form-control" type="text" placeholder="Email" ng-model="previewUrl" ng-model="newEmploye.email">
                        </label>
                   </div>
                </div>
                
                <div class="row">
                   <div class="col-sm-6 d-flex flex-column justify-content-between">
                        <label for="position"></label>
                            position :
                            <select name="position" class="custom-select" id="position" ng-model="newEmploye.position">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        <label for="avaliability"></label>
                            avaliability :
                            <select name="avaliability" class="custom-select" id="avaliability" ng-model="newEmploye.avaliability">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        
                            <label for="status"></label>
                            status :
                            <select name="status" class="custom-select" id="status" ng-model="newEmploye.status">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        
                            <label for="hours_per_week_left"></label>
                            hours per week left :
                            <select name="hoursPerWeekLeft" class="custom-select" id="hours_per_week_left" ng-model="newEmploye.hours_per_week_left">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            <div class="input-group my-4">
                                <div class="input-group-prepend">
                                </div>
                                <div class="custom-file">
                                    <label for="photo" class="custom-file-label">Choose photo :</label>
                                    <input class="custom-file"
                                           type="file"
                                           placeholder="Photo"
                                           id="photo"
                                           ng-model="newEmploye.photo"
                                           onchange="angular.element(this).scope().showPreview(this)">
                                </div>
                            </div>
                   </div>
                   <div class="col-sm-6 d-flex flex-column justify-content-around">
                        <div class="">
                            <img src="" width="100%" class="rounded-top preview">
                        </div>
                   </div>
                </div>
                <div class="row pt-5">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-outline-success btn-block" ng-click="done()">Done</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>